# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled files
*.pyc

# Ignore logs and other runtime files
*.log
*.db

# Ignore environment file
.env

# Ignore dependency folders
node_modules/
